.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
  }
  
  .left {
    font-size: 20px;
    font-weight: bold;
  }
  
  .right {
    font-size: 16px;
    cursor: pointer;
  }
  